<h2>새 질문 등록</h2>
<div class="row">
  <div class="col-md-12">
    <p style="text-align: right;">
      created by <%= current_user.email %>, Current Time : <%= Time.now %>
    </p>
  </div>
</div>
<%= render 'form' %>
<hr/>
<%= link_to 'Back', questions_path, class: "btn btn-default" %>
